.home {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  > * {
    flex: 0 1 100%;
  }

  &__wrapper {
    border: 10px solid red;
    padding: 10px;
  }

  &__title {
    border: 10px solid red;
  }
}